body {
    font-family: Roboto; sans-serif;
    }
.wrapper {
    max-width: 1600px;
}

button:hover {
    background-color: #2196f3;
    color:#ffffff
    }
    
ul {
  list-style: none;
}
wrapper. {
    max-width: 1600px; }
    
    .logo-top {
  text-decoration: none;
}
header :hover {
  color: #2196f3;
}
button :hover {
    color: #2196f3;
}
header a {
    text-decoration: none;
}
nav a {
    color:#212121;
    text-decoration: none;
}

.logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  color: #2196f3;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  color: black;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.nav-look {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color:#212121;
  text-decoration: none;
}

.filter-data {
    font-size: 16px;
    line-height: 1.39;
    letter-spacing: 3%;
    font-style: medium;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px; }

.port-color {
    color: #2196f3;
}
.header-email {
 
 font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-phone {
 
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #757575;
 
}
.img-head {
   font-size: 18px;

line-height: 1.71;
letter-spacing: 6%;

}
.img-text {
    font-size: 16px;
    font-style: regular;
    line-height: 1.6;
}
.logo-bottom {
    text-decoration: none;
}
.logo-studio-footer {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1;
  
  letter-spacing: 3%;
  color:#ffffff;

}
footer {
    background-color: #2F303A;
}
    footer :hover {
  color: #2196f3;
    }

.address-style {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}