body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  color: #212121;
  font-size: 14px;
}
wrapper. {
  max-width: 1600px;
}
.logo-top {
  text-decoration: none;
}
header :hover {
  color: #2196f3;
}
header a {
  text-decoration: none;
}
ul {
  list-style: none;
}

nav a {
  color: #212121;
  text-decoration: none;
}
.logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: black;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.nav-look {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  width: 110px;
  height: 16px;
}
.hero {
  background-color: #2f303a;
}
.hero-button {
  font-family: Roboto;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
}

p {
  color: #757575;
  line-height: 1.71;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.logo-studio-footer {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 3%;
  color: #ffffff;
}
footer {
  background-color: #2f303a;
}

footer :hover {
  color: #2196f3;
}
.logo-bottom {
  text-decoration: none;
}

.address-style {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #212121;
}
.futures {
  background-color: #ffffff;
}
.futures-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.futures-text {
  line-height: 1.71;
  color: #757575;
}
.team {
  background-color: #f5f4fa;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #757575;
}
.img-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.img-text {
  font-size: 16px;
  line-height: 1.88;
}
.filter-data {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
}
